<div>
    @Html.ActionLink("Back", "Index", "Attender")

	<ul>
		@foreach (var meeting in ViewBag.Meetings)
		{
			<li>@meeting.Name</li>

			@Html.ActionLink("Meeting", "Meeting", "Meeting", new {meetingId = meeting.Id})
		}
	</ul>
</div>
